*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
.container1{
    background-color: aqua;
    height: 100vh;
    width: 100vw;
    background-image: url("./src/img/bg.jpg");
    background-size: contain;
}
.topic{
    background-color:#e9caf0;
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    font-family: cursive;
    box-shadow: 0px 5px 5px  #e795fa;
}
.container2{
    display: flex;
    /* background-color: darkorange; */
    width: 100%;
    height: 90%;
    justify-content: space-evenly;
    margin-top: 10px;
}
.container3{
    display: flex;
    width: 70%;
    /* background-color: forestgreen; */
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
}
.dfa{
    /* background-color: gold; */
    height: 70%;
    width: 100%;
    border-radius: 50px;
    border: 5px solid #e795fa;
    background-color: rgba(255, 255, 255, 0.5);
}
.input{
    /* background-color: greenyellow; */
    width: 100%;
    height: 25%;
    border-radius: 50px;
    border: 5px solid #e795fa;
    background-color: rgba(255, 255, 255, 0.5);
    
}
.container4{
    padding: 10px;
    width: 25%
}
.selector{
    height: 98%;
    border-radius: 50px;
    border: 5px solid #e795fa;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

.Header{
    text-align: center;
    font-size: 22px;
    color: #6c36b7;
    font-weight:bold;
}

.textinput{
    font-size: 20px;
    padding: 20px;
    margin-left: 10px;
}

.ButtonRe{
    /*Restart*/
    width: 100px;
    height: 50px;
    background-color: #ce2d12;
    color: white;
    border-radius: 50%;
    margin-left: 20px;
    font-size: 16px;
    box-shadow: 0 10px rgb(150, 5, 5);
}

.ButtonRe:hover {
    transform: translate3D(0, 10px, 0);
}

.ButtonCon{
    /*Confirm*/
    width: 100px;
    height: 50px;
    background-color: #0da789;
    color: white;
    border-radius: 50%;
    margin-left: 25px;
    font-size: 16px;
    box-shadow: 0 10px #008066;
}

.ButtonCon:hover{
    transform: translate3D(0, 10px, 0);
}

.hr{
    height: 5px;
    background-color:#fac710;
    border: none;
}

.t{
    padding-top: 10px;
    padding-bottom: 10px;
}

.Button-i{
    background-color:#2d9bf0;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 10px;
}