.splash {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("57200.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 200;
  color: white;
  text-align: center;
  line-height: 98vh;
  animation: fadeIn 1.5s ease-in forwards;
}

.splash.display-none {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("57200.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
  color: white;
  text-align: center;
  line-height: 98vh;
  text-align: center;
  transition: z-index 3s;
  animation: fadeOut 1.5s ease-in forwards;
}

.index {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("57200.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
  color: white;
  text-align: center;
  line-height: 98vh;
}

.rectangle {
  opacity: 0;
  top: 50%;
  left: 50%;
  position: fixed;
  height: 8px;
  width: 16px;
  line-height: 75px;
  text-align: center;
  display: inline-block;
  margin-left: -8px;
  margin-top: -16px;
  box-shadow: 0;
  background: #ffffffaa;
  border-radius: 100px;
  border-width: 10px;
  border-color: #e9caf0;
  border-style: dashed;
  animation: rectangle 1.5s ease-in forwards 4.5s;
}

.loader {
  font-size: 10px;
  top: 50%;
  left: 50%;
  margin-top: -5.5em;
  margin-left: -5.5em;
  text-indent: -9999em;
  text-align: center;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #e9caf0;
  background: -moz-linear-gradient(
    left,
    #e9caf0 10%,
    rgba(238, 218, 247, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #e9caf0 10%,
    rgba(238, 218, 247, 0) 42%
  );
  background: -o-linear-gradient(left, #e9caf0 10%, rgba(238, 218, 247, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #e9caf0 10%,
    rgba(238, 218, 247, 0) 42%
  );
  background: linear-gradient(
    to right,
    #e9caf0 10%,
    rgba(238, 218, 247, 0) 42%
  );
  position: fixed;
  -webkit-animation: load 1.4s infinite linear;
  animation: load 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #e9caf0;
  border-radius: 100% 0% 25% 0%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  width: 75%;
  height: 75%;
  background: #eedaf7;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes rectangle {
  to {
    opacity: 1;
    top: 50%;
    left: 50%;
    position: fixed;
    height: 800px;
    width: 1600px;
    line-height: 75px;
    text-align: center;
    display: inline-block;
    margin-left: -800px;
    margin-top: -400px;
    box-shadow: 0;
    background: #ffffffaa;
    border-radius: 100px;
    border-width: 10px;
    border-color: #e9caf0;
    border-style: dashed;
  }
}
